.contCar{
    margin-top: 2rem;
    position: relative;
}


.carrou{
    position: relative;
    height: 20rem;
    width: 100%;
}


#coo{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgb(149 157 165 /20% ) 0px 8px 24px ;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.show{
    opacity: 1 !important;
}

.arrowRight{
    right: 25px;
}


.arrowLeft{
    left: 25px;
}



.arrow{
    position: absolute;
    top: 50%;
    height: 15%;
    transform: translateY(-50%);
    cursor: pointer;
}

.countPicture{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color:#fff;
    font-weight: 500;
    font-size: clamp(14px, 2vw, 18px);
}



@media screen and (max-width: 768px) and (min-width: 320px){
    .arrow{
        height: 10%;
    }
}