.appart{
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 33px;
}

.localisation{
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 1rem;
    font-size: 18px;
}

.appartementHeader{
    display: flex;
    margin-bottom: 2rem;
}

.appartementTitle{
    flex-grow: 1; /* a le droit de grossir*/
}

.appartementOwnerDetails{
    display: flex;
    gap: 0.5em;
    margin-bottom: 2rem;

}
.appartementOwnerBadge{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.appartementOwnerStars{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;

}

.owne{
    margin-block: 0;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 18px;
    
}


.appartementTags{
    display: flex;
    gap: 1rem;
}

.appartementTag{
    background-color: #ff6060;
    color: white;
    padding: 0.3em 1em;
    border-radius: 0.7em;
    text-align: center;
    width: max-content;
}

.appartementOwner{
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) and (min-width: 320px){
    .appartementHeader{
        display: flex;
        flex-direction: column;
    }

    .appartementOwner{
        flex-direction: row;
        justify-content: space-between;
    }

    .appartementOwnerDetails{
        order: 1;
    }

    .appartementTags{
        flex-wrap: wrap;
    }
}